* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #487eb0;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container .mini-projects {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 3px;
}

.container .mini-projects .card {
    position: relative;
    height: 100%;
    opacity: 1;
}

.container .mini-projects .card:hover .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    background-color: #353b48;
    transition: 0.3s ease-in-out;
    gap: 20px;
}

.container .mini-projects .card:hover .card-content h3 {
    color: #f5f6fa;
}

.container .mini-projects .card:hover .card-content button {
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 20px;
    color: #f5f6fa;
    background-color: #00a8ff;
    transition: 0.3s;
}

.container .mini-projects .card:hover .card-content button:hover{
    transform: scaleX(0.95);
}

.container .mini-projects .card img {
    width: 100%;
    height: 100%;
}

.container .mini-projects .card .card-content {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: inherit;
}

@media(min-width:768px){
    .container .mini-projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width:1200px){
    .container .mini-projects {
        grid-template-columns: repeat(5, 1fr);
    }
}