* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #7d5fff, #7158e2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.search {
    position: relative;
    height: 50px;
}

#button {
    display: none;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}

.search-button {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.search-button i {
    position: absolute;
    top: 25%;
    left: 25%;
}

#button:checked~.input {
    width: 200px;
}

#button:checked~.search-button {
    transform: translateX(198px); /* Text Input open to left*/
    /* transform: translateX(-50px); */ /* Text Input open to right*/
}

.search-button:focus,
input:focus {
    outline: none;
}